<div [@fadeInAnimation]="'true'" id='contact-container' class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<div class='panel panel-default transparent-border'>
				<div class='panel-body'>
					<div class='page-header'>
						<h2>Contact
						<br>
						<small>For business enquiries</small>
						</h2>
					</div>

					<div id='contact-link-container'>
						<h2 class='contact-display'><i class="fa fa-envelope" aria-hidden="true"></i> kyle@kylerussell.co.nz</h2>
						<br>
						<h2 class='contact-display'><i class="fa fa-phone" aria-hidden="true"></i> +64 (09) 021-2522-373</h2>
						<br>
						<h2 class='contact-display'><i class="fa fa-skype" aria-hidden="true"></i> kyj.russell</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

