<div [@fadeInAnimation]="'true'" id='portfolio-container' class='container'>
	<div class='row transparent-border'>
		<div id='nav-container' class='col-md-3'>
			<div id='portfolio-project-nav' class='panel panel-default'>
				<div id='project-list' class='list-group'>
					<div *ngFor="let project of projects" (click)="setActiveProject(project)" class='list-group-item project-list-item'>
						<div class='row'>
							<div class='col-md-4'>
								<span class='badge project-tech-badge' [ngSwitch]="project.language">
									<span *ngSwitchCase="'JavaScript'">JS</span>
									<span *ngSwitchCase="'Vim script'">Vim</span>
									<span *ngSwitchCase="">Config</span>
									<span *ngSwitchDefault>{{ project.language }}</span>
								</span>
							</div>
							<div class='col-md-8'>
									<span class='project-name'>{{ project.name }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id='project-display-container' class='col-md-9'>
			<div id='portfolio-current-project' class='panel panel-default'>
				<div class='panel-body'>
					<div id='project-content' [innerHTML]="getActiveProjectReadme() | safeReadmePipe">
					</div>
				</div>
				<div id='portfolio-controls' class='panel-footer'>
					<div class='btn-group'>
						<button class='btn btn-default'>
							<i class="fa fa-info-circle" aria-hidden="true"></i>							
							About
						</button>

						<button class='btn btn-default'>
						<i class="fa fa-picture-o" aria-hidden="true"></i>							
						Images
						</button>

						<a href="{{ getActiveProjectUrl() }}" class='btn btn-default'>
							<i class="fa fa-github" aria-hidden="true"></i>
							Github
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

