#portfolio-container
{
	.row
	{
		margin-top:3em;
	}

	#portfolio-project-nav, #portfolio-current-project
	{
		height:600px;
		margin-bottom:0;
	}

	#portfolio-current-project
	{
		position:relative;
	}
	
	#nav-container
	{
		padding:0;
		margin-bottom:0;

		#portfolio-project-nav
		{
			background-color:#19171C;
			border:0;
		}
	}

	#project-display-container
	{
		padding:0;
	}

	#portfolio-controls
	{
		position:absolute;
		bottom:0;
		width:100%;
	}

	#portfolio-controls
	{
		text-align:center;
	}

	#project-list
	{
		height:600px;
		overflow:scroll;
		overflow-x:hidden;

		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			background-color:#F5F5F5;
		}

		&::-webkit-scrollbar
		{
			width:6px;
			background-color:#F5F5F5;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color:#919191;
		}


		.project-list-item
		{
			border-radius:0;
			background-color:inherit;
			border-bottom:1px solid grey;
			border-top:0 none;

			&:hover
			{
				opacity:0.4;
				cursor:pointer;
			}

			.row
			{
				margin:0;
			}

			.project-name
			{
				font-weight:bold;
				font-size:16px;
				color:white;
			}
		}
	}

	.project-tech-badge
	{
		float:left !important;
		padding:10px;
		font-weight:bold;
		transition:0.5s ease-in-out;
		background-color:#333038;

		&:hover
		{
			opacity:0.5;
			cursor:default;
		}
	}
	
}
