#portfolio-container .row {
  margin-top: 3em; }
#portfolio-container #portfolio-project-nav, #portfolio-container #portfolio-current-project {
  height: 600px;
  margin-bottom: 0; }
#portfolio-container #portfolio-current-project {
  position: relative; }
#portfolio-container #nav-container {
  padding: 0;
  margin-bottom: 0; }
  #portfolio-container #nav-container #portfolio-project-nav {
    background-color: #19171C;
    border: 0; }
#portfolio-container #project-display-container {
  padding: 0; }
#portfolio-container #portfolio-controls {
  position: absolute;
  bottom: 0;
  width: 100%; }
#portfolio-container #portfolio-controls {
  text-align: center; }
#portfolio-container #project-list {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden; }
  #portfolio-container #project-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  #portfolio-container #project-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  #portfolio-container #project-list::-webkit-scrollbar-thumb {
    background-color: #919191; }
  #portfolio-container #project-list .project-list-item {
    border-radius: 0;
    background-color: inherit;
    border-bottom: 1px solid grey;
    border-top: 0 none; }
    #portfolio-container #project-list .project-list-item:hover {
      opacity: 0.4;
      cursor: pointer; }
    #portfolio-container #project-list .project-list-item .row {
      margin: 0; }
    #portfolio-container #project-list .project-list-item .project-name {
      font-weight: bold;
      font-size: 16px;
      color: white; }
#portfolio-container .project-tech-badge {
  float: left !important;
  padding: 10px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  background-color: #333038; }
  #portfolio-container .project-tech-badge:hover {
    opacity: 0.5;
    cursor: default; }

/*# sourceMappingURL=portfolio.component.css.map */
