#home-container .row {
  margin-top: 5em; }
#home-container .about-panel {
  height: 30em;
  color: white; }
#home-container .about-titles {
  text-align: center;
  vertical-align: middle;
  line-height: 30em;
  height: 30em; }
  #home-container .about-titles p {
    text-transform: uppercase;
    font-size: 2em; }
#home-container #aboutme-panel {
  background-color: #ed4040; }
#home-container #interests-panel {
  background-color: #2ce867; }
#home-container #hobbies-panel {
  background-color: #4e73f9; }
