<div [@fadeInAnimation]="'true'" id='home-container' class='container'>
	<div class='row'>
		<div class='col-md-4'>
			<div id='aboutme-panel' class='panel panel-default about-panel transparent-border'>
				<div class='about-titles'>
					<p>About me</p>
				</div>
			</div>
		</div>

		<div class='col-md-4'>
			<div id='interests-panel' class='panel panel-default about-panel transparent-border'>
				<div class='about-titles'>
					<p>Interests</p>
				</div>
			</div>
		</div>

		<div class='col-md-4'>
			<div id='hobbies-panel' class='panel panel-default about-panel transparent-border'>
				<div class='about-titles'>
					<p>Hobbies</p>
				</div>
			</div>
		</div>
	</div>
</div>

