$aboutme-color: #ed4040;
$interests-color: #2ce867;
$hobbies-color: #4e73f9;

#home-container
{
	.row
	{
		margin-top:5em;
	}

	.about-panel
	{
		height:30em;
		color:white;
	}

	.about-titles
	{
		text-align:center;
		vertical-align:middle;
		line-height:30em;
		height:30em;

		p
		{
			text-transform:uppercase;
			font-size:2em;
		}
	}

	#aboutme-panel
	{
		background-color:$aboutme-color;
	}	

	#interests-panel
	{
		background-color:$interests-color;
	}

	#hobbies-panel
	{	
		background-color:$hobbies-color;
	}
}
