<div class='main-navbar navbar navbar-default navbar-fixed-top'>
	<div class='container'>
		<div class='navbar-header'>
			<div href='/' class='navbar-brand site-brand'>
				<span class='brand-first'>Kyle</span><span class='brand-second'>Russell</span>
			</div>
		</div>
		<div class='collapse navbar-collapse'>
			<ul class='nav navbar-nav navbar-right'>
				<!-- Home -->
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/']">Home</a>
				</li>

				<!-- About -->
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/about']">About</a>
				</li>

				<!-- Portfolio --> 
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/portfolio']">Portfolio</a>
				</li>

				<!-- Blog -->
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/blog']">Blog</a>
				</li>

				<!-- Resume -->
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/cv']">Resume</a>
				</li>

				<!-- Contact -->
				<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class='main-navbar-link' [routerLink]="['/contact']">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>
