.main-navbar {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 6px -6px #000;
  border: 0; }
  .main-navbar .active a {
    background-color: black;
    color: white; }
  .main-navbar .main-navbar-link {
    outline: 0;
    font-size: 1.3em;
    transition: 1s ease-in-out;
    color: white; }
  .main-navbar .navbar-brand {
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase; }

.brand-first, .brand-second {
  padding: 0.5em;
  display: inline-block; }

.brand-first {
  background-color: black;
  color: white; }

.brand-second {
  background-color: white;
  color: black; }

.site-brand {
  padding: 0; }
