<div [@fadeInAnimation]="'true'" id='home-container' class='container'>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>
					<div id='home-title-container'>
						<h1>Kyle Russell</h1>
						<h3>Passionate Software Developer</h3>
					</div>

					<div id='quick-links'>
						<button class='btn btn-default btn-lg hollow-button'>Portfolio</button>
						<button class='btn btn-default btn-lg hollow-button'>Blog</button>
					</div>

					<div id='social-media-links'>
						<h1>
							<a class='social-link' href='#'><i class="fa fa-envelope" aria-hidden="true"></i></a>
							<a class='social-link' href='#'><i class="fa fa-linkedin fa-3" aria-hidden="true"></i></a>
							<a class='social-link' href='#'><i class="fa fa-github fa-3" aria-hidden="true"></i></a>
							<a class='social-link' href='#'><i class="fa fa-twitch fa-3" aria-hidden="true"></i></a>
							<a class='social-link' href='#'><i class="fa fa-stack-overflow fa-3" aria-hidden="true"></i></a>
						</h1>									
			</div>
		</div>
	</div>
</div>
