#home-container
{
	transition:1.5s ease-in-out;
}

#home-container
{
	text-align:center;

	i, h1, button
	{
		color:white;
	}

	button
	{
		&:hover
		{
			background-color:white;
			color:black;
		}
	}
}

#quick-links
{
	margin-top:3em;
}

.social-link
{
	transition:0.5s ease-in-out;

	&:hover
	{
		opacity:0.5;
	}
}

#home-title-container
{
	margin-top:5em;
	h1, h3
	{
		text-transform:uppercase;
		color:white;
	}

	h1
	{
		font-size:7em;
		font-weight:bold;
	}
}
