#home-container {
  transition: 1.5s ease-in-out; }

#home-container {
  text-align: center; }
  #home-container i, #home-container h1, #home-container button {
    color: white; }
  #home-container button:hover {
    background-color: white;
    color: black; }

#quick-links {
  margin-top: 3em; }

.social-link {
  transition: 0.5s ease-in-out; }
  .social-link:hover {
    opacity: 0.5; }

#home-title-container {
  margin-top: 5em; }
  #home-title-container h1, #home-title-container h3 {
    text-transform: uppercase;
    color: white; }
  #home-title-container h1 {
    font-size: 7em;
    font-weight: bold; }
