<div [@fadeInAnimation]="'true'" id='home-container' class='container'>
	<div class='row'>
		<div class='col-md-2 cv-controls-container'>
			<ul class='list-group cv-control-list'>
				<a class='btn btn-default btn-lg list-group-item' href='/assets/docs/KyleRussellCV.pdf' download>Download CV</a>
				<a class='btn btn-default btn-lg list-group-item' 
					href='https://www.myequals.net/#/sharelink/2c52ea7d-941b-45a6-8840-ca0479f345bc/77d4c842-045e-4dd8-b61b-50729518d262'>
					Request Transcript
				</a>
			</ul>
		</div>

		<div class='col-md-10 cv-container'>
			<embed src='/assets/docs/KyleRussellCV.pdf#view=FitH' width='100%' height='680px'/>
		</div>
	</div>
</div>

