html, body {
  margin: 0;
  background-image: url("/assets/images/background_home.jpg");
  background-attachment: fixed; }

#main-content-container {
  margin-top: 100px; }

.hollow-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s ease-in-out; }

.hollow-button:hover {
  background-color: black;
  border: 2px solid white;
  color: white; }

.transparent-border {
  border: 8px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box; }
