<div [@fadeInAnimation]="'true'" id='home-container' class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<div class='panel panel-default'>
				<div class='panel-body'>
					<div class='page-header'>
						<h2>Blog
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

